---
import MyDate from '../components/Date.astro';
import {
	myDate
} from "./myfirst"
let d = myDate()

const response = await fetch("https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=60.19&lon=24.95")
const test = await response.json()
---

<html lang="fi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="gomer.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			.otsikko {
				color: red;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.giffi {
				display: block;
				margin: 0;
				padding: 10px;
				position: absolute;
				top: 60px;
				right: 100px;
			}
			.btn1 {
				display: block;
				margin: 0;
				padding: 10px;
				position: absolute;
				top: 280px;
				right: 20px;
			}
		</style>
		<title>koodi101</title>
	</head>
	<body>
		<h1>Test: </h1>
		<code>{test.properties.meta.updated_at}</code>
		<br>
		<code>{test.properties.timeseries[0].time}<code>
		<br>
		<code>{test.properties.timeseries[0].data.instant.details.air_temperature}</code>
	</body>
</html>
