---
import MyDate from '../components/Date.astro';
import {
	myDate
} from "./myfirst"
let d = myDate()
---

<html lang="fi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="gomer.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			.otsikko {
				color: red;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.giffi {
				display: block;
				margin: 0;
				padding: 10px;
				position: absolute;
				top: 60px;
				right: 100px;
			}
			.btn1 {
				display: block;
				margin: 0;
				padding: 10px;
				position: absolute;
				top: 280px;
				right: 20px;
			}
		</style>
		<title>koodi101</title>
	</head>
	<body>
		<h1 class="otsikko">Moi, koodi101</h1>
		<img class="giffi" src="gomerrunner.gif" height="200px">
		
		<MyDate date={d}/>

		<a href="to_download/secret-file.txt" download>
			<button class="btn1">
				<img src="download_btn.png" height="100px">
				<br> CLICK ME!!
			</button>
		</a>
	</body>
	<script src="./myfirst.js"></script>
</html>
