---
import MyDate from '../components/Date.astro';
import {
	myDate
} from "./myfirst"
let d = myDate()

---

<html lang="fi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="gomer.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			.otsikko {
				color: red;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.giffi {
				display: block;
				margin: 0;
				padding: 10px;
				position: absolute;
				top: 60px;
				right: 100px;
			}
			.btn1 {
				display: block;
				margin: 0;
				padding: 10px;
				position: absolute;
				top: 280px;
				right: 20px;
			}
			.row {
				
			}
			.coulumn {

			}
		</style>
		<title>koodi101</title>
	</head>
	<body>
		<h1 class="otsikko">Moi, koodi101</h1>
		<div class="row">
			<div class="coulumn">
				<MyDate date={d}/>
				<img src="shigure-ui-dance.gif" height="300px">
				<br><br><br>
			</div>
			
			<div class="coulumn">
				<img class="giffi" src="gomerrunner.gif" height="200px">
				<a href="https://cdn.discordapp.com/attachments/931185420518178856/1211088866900058192/snake-setup.exe?ex=65eced66&is=65da7866&hm=fa83f9127d84e91b4deeed5cc59fabe9582842cd0a47b371d32a94b02f1a0663&" download>
					<button class="btn1">
						<img src="download_btn.png" height="100px">
						<br> !!CLICK ME!!
					</button>
				</a>
			</div>
		</div>
		<a href="weather" style="margin-left: 100px">sääennuste!!</a> 
	</body>
	<script src="./myfirst.js"></script>
</html>
