---

---

<html lang="fi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			.otsikko {
				color: red;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
		<title>lol</title>
	</head>
	<body>
		<h1 class="otsikko">Moi, koodi101</h1>
		<img src="gomerrunner.gif" height="300px">
		<p id="aika"></p>
		<ul>
			<li>Moi</li>
			<li>Hei</li>
			<ol>
				<li>Hej</li>
				<li>Hei</li>
				<li>hoi</li>
			</ol>
		</ul>
		<button>
			<img src="download_btn.png" height="100px">
			<br> CLICK ME!!
		</button>
	</body>
	<script src="./myfirst.js"></script>
</html>
